@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Montserrat:wght@100;400;700&family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

@layer base {
    body {
        @apply font-[Raleway];
    }

    li {
        @apply px-4;
        @apply cursor-pointer;
    }
}

:root {
    --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.content-div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-position: 0%;
    height: 250px;
}

.content-div:hover {
    background-image: linear-gradient(to right, 
    rgba(249,167,42,1) 0%, 
    rgba(231,116,0,1) 100%) !important;
}

.wrapper:hover,
.wrapper:focus {
    outline: 0px;
    transform: translate(-4px, -4px);
    box-shadow: 0 20px 30px -15px rgba(2, 11, 26, 0.7);
}

.wrapper::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    border-radius: 4px;
    transition: var(--transition);
    top: 0px;
    left: 0px;
    background-color: #0a192f;
    mix-blend-mode: screen;
}

.wrapper::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    transition: var(--transition);
    top: 14px;
    left: 14px;
    z-index: 1;
    border: 4px solid #f9a72a;
}

.wrapper:hover::after {
    transform: translate(8px, 8px);
}

.image-wrapper img {
    position: relative;
    border-radius: 4px;
    mix-blend-mode: multiply;
    filter: grayscale(100%) contrast(1);
    transition: var(--transition);
}

.image-wrapper:hover img {
    filter: none;
    mix-blend-mode: normal;
}


.profile-pic {
    transform: translateZ(0);
}

.modal-button {
    top: -48px;
    right: -38px;
}